<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="custom-ion-content">


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="center-colum">
      <div class="child">
        <img width="200" src="../../assets/images/image1.png" alt="">
      </div>

  </div>
<!--
  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list> -->


</ion-content>
